* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --dark-color : #1B1B1B;
  --gold : #D7C378;
  --light-color : #E0E0E0;
  --grey : #8A8A8A;
}



#ChavilleAction{
  padding-bottom: 10%;
  height: 100vh;
  background-color: var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  #display{
    width: 70%;
    height: 100%;
    #texte{
      height: 40%;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2{
        color: var(--gold);
        font-family: "Poppins Medium";
        font-weight: lighter;
        font-size: xx-large;
        margin-bottom: 25px;

        @media only screen and (max-width: 1150px) {
          margin-bottom: 0;
        }
      }
      p{
        color: var(--light-color);
        font-family: 'Kanit', sans-serif;
        font-weight: lighter;
        font-size: large;
      }
    }
    #images {
      height: 70%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      #tennis{
        background-image: url("../img/image1.png");
        transform: translate(15%, 15%);
        z-index: 5;
      }
      #course{
        background-image: url("../img/image2.png");
        z-index: 6;
      }
      #ski{
        background-image: url("../img/image3.png");
        transform: translate(-15%, -15%);
        z-index: 7;
      }
      .cardgang {
        height: 90%;
        width: 25%;
        scale: 1;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 1px;
        transition: scale 300ms ease-in-out, margin 300ms ease-in-out;

        &:hover {
          scale: 1.1;
          margin: 30px;
        }
      }
      }
    }
  }


#JouerAussi{
  height: 100vh;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  #jouer{
    img{
      margin-left: 100px;
    }
  }
  #carte{
    justify-content: end;
    div{
      align-items: end;
    }
    img{
      margin-right: 100px;
    }
  }
  .bas{
    height: 50%;
    width: 70%;
    display: flex;
    align-items: center;
    div{
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      h3{
        font-size: 1.8rem;
        font-family: "Poppins Medium";
        font-weight: lighter;
      }
      .leftP{
        text-align: end;
        font-size: 1.2rem;
        font-family: "Kanit", sans-serif;
      }

      .rightP{
        font-size: 1.2rem;
        font-family: "Kanit", sans-serif;
      }
      button{
        width: 50%;
        padding-left: 10%;
        padding-right: 10%;
        background-color: var(--dark-color);
        border: none;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        color: var(--gold);
        font-family: "Kanit", sans-serif;
        font-size: 1.2rem;
        padding: 2%;

        background: {
          image: linear-gradient(45deg,var(--gold) 50%, transparent 50%);
          position: 90%;
          size: 400%;
        }
        transition: background  300ms ease-in-out , color 300ms;


        &:hover {
          color: #1B1B1B;
          background-position: 0;
        }
      }
    }
    img{
      height: 150px;
    }
  }
}

.Section1{
    height: 100vh;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  .backdrop{
    height: 85%;
    width: 100%;
    background-image: url(../img/paris2024.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    img{
      margin-top: 1%;
    }
    h1{
      color: var(--dark-color);
      font-family: "kanit", sans-serif;
      font-size: 3rem;
      margin-bottom: 25px;
    }
  }

  .header{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #EFEFEF;
    #lienIndex{
      img{
        width: 100px;
      }
    }
    .lien{
        text-decoration: none;
        color: var(--dark-color);
        font-family: "Poppins Medium";
        font-size: 1rem;
        position: relative;
    }
    .lien:after{
      content: "";
      position: absolute;
      background-color: #000;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -1px;
      transition: 0.3s;
    }
    .lien:hover:after{
      width: 100%;
    }
    .liseraire{
      width: 5%;
      z-index: 20;
      img{
        height: 900px;
        width: 100px;
      }
    }

    .logo{
      width: 15%;
    }
    .burger{
      display: none;
    }
    .logo{
      width: auto;
      height: 90%;
    }
    #navburg{
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 300px;
        div{
          background-color: var(--dark-color);
          height: 10%;
          width: 10%;
        }
        li{
          list-style: none;
          a{
            text-decoration: none;
            color: var(--dark-color);
            font-family: "Poppins Medium";
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
.Section2{
  display: flex;
  flex-direction: column;
  height: 200vh;
  .top{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .pav_doc{
      display: flex;
      width: 50%;
      padding-left: 10%;
      padding-right: 10%;
      font-family: "Kanit", sans-serif;
      flex-direction: column;
      gap: 30px;
      .pav_S2{
        font-size: 1.1rem;
        color: var(--dark-color);
      }
      .Title_S2{
        font-family: "Poppins";
        font-size: 1.3rem;
      }
      .btn_S2{
        width: 50%;
        padding-left: 10%;
        padding-right: 10%;
        background-color: var(--dark-color);
        border: none;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        color: var(--gold);
        font-family: "Kanit", sans-serif;
        font-size: 1.2rem;
        padding: 2%;

        background: {
          image: linear-gradient(45deg,var(--gold) 50%, transparent 50%);
          position: 90%;
          size: 400%;
        }
        transition: background  300ms ease-in-out , color 300ms;


        &:hover {
          color: #1B1B1B;
          background-position: 0;
        }
      }
    }

    .illu_S2{
      width: 50%;
      padding-left: 10%;
      padding-right: 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 30px;
        img{
           display: block;
        }

    }
  }
  .left{
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .pav_docL{
      width: 50%;
      padding-left: 10%;
      padding-right: 10%;
      font-family: "Kanit", sans-serif;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 30px;
      .pav_S2L{
        font-size: 1.1rem;
        color: var(--dark-color);
        text-align: end;

      }
      .Title_S2{
        font-family: "Poppins";
        font-size: 1.3rem;
      }
      .btn_S2{
        width: 50%;
        padding-left: 10%;
        padding-right: 10%;
        background-color: var(--light-color);
        border: none;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        color: var(--dark-color);
        font-family: "Kanit", sans-serif;
        font-size: 1.2rem;
        padding: 2%;
        border: 2px solid var(--dark-color);

        background: {
          image: linear-gradient(45deg,var(--dark-color) 50%, transparent 50%);
          position: 90%;
          size: 400%;
        }
        transition: background  300ms ease-in-out , color 300ms;


        &:hover {
          color: var(--gold);
          background-position: 0;
        }
      }
    }

    .illu_S2{
      width: 50%;
      padding-left: 10%;
      padding-right: 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
  }

}

footer{
  height: 40vh;

  background-color: var(--dark-color);
  #footerhaut{
    height: 85%;
    display: flex;
    align-items: center;
    #footergauche{
      width: 65%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      ul{
        list-style: none;
        font-size: 1.2rem;
        font-family: "Poppins Medium";
        color: var(--grey);
        margin-top: 20px;
        .ultitre{
          color: var(--gold);
        }
        li{
          margin-top: 10px;
        }
      }
    }
    #footerdroite{
      width: 35%;
      height: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-weight: normal;
      border-left: 1px solid var(--grey);
      img{
        width: 35%;
        height: auto;
      }
      p{
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        color: var(--gold);
      }
    }
  }
  #footerbas{
    height: 15%;
    p{
      text-align: center;
      color: var(--gold);
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

//Responsive

@media only screen and (max-width: 1440px) {
  .Section2 {
    height: 270vh;
  }

}

@media only screen and (max-width: 1050px) {
  .Section2 {
    height: 300vh;
  }

}
@media only screen and (max-width: 1024px) {
  .Section1 {
    .backdrop {
      img{
        width: 50%;
        height: auto;
        margin-top: 1%;
      }
    }
    .header{
      #navburg{
        ul{
          gap: 175px;
        }
      }
      .liseraire{
        img {
          display: none;
        }
      }
    }
  }
  #ChavilleAction{
    padding-bottom: 10%;
    #display{
      width: 90%;
      #images{
        div{
          width: 100%
        }
        #tennis{
          transform: translate(5%, 5%);
          z-index: 5;
        }
        #course{

          z-index: 6;
        }
        #ski{
          transform: translate(-5%, -5%);
        }
        .cardgang {
          height: 70%;
          width: 25%;

        }
      }
    }
  }
}
#footerdroite{
  img{
    width: 50%;
    height: auto;
  }
}

@media only screen and (max-width: 1440px) {
  .Section2 {
    height: 330vh;
  }

}
@media only screen and (max-width: 768px) {
  .Section1{
      .header{
        #navburg{
            ul{
                gap: 100px;
            }
        }
      }
  }
  .Section2 {
    .left {
      .pav_docL {
        width: 50%;
        padding-left: 10%;
        padding-right: 1%;
        font-family: "Kanit", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 26px;

      }
      .illu_S2{
        img{
          width: 50%;
          height: auto;
        }
      }
    }
    .top {
      .illu_S2{
        img{
          width: 50%;
          height: auto;
        }
      }
      .pav_doc {
        padding-left: 1%;
      }
    }
    }
  #ChavilleAction{
    #display{
      #images{
        #tennis{
          transform: translate(0%, 0%);
          z-index: 5;
        }
        #course{

          z-index: 6;
        }
        #ski{
          transform: translate(0%, 0%);
        }
        .cardgang {
          height: 70%;
          width: 25%;

        }

      }
    }
  }

  #JouezAussi{
    .bas{
      width: 90%;
    }
  }
}
@media only screen and (max-width: 768px) {

  .Section1 {
    .backdrop{
    }
    .header {
      height: 35% ;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      background-color: #EFEFEF;
      z-index: 20;

      .retour{
        display: none;
      }
      .burger{
        display: block;
        height: 30px;
      }
      #navburg.active{
        display: block;

      }
      #navburg{
        display: none;
        width: 100%;
        background-color: aliceblue;
        ul{
          gap: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .Section2{
    gap: 20px;
    height: 215vh;
    .left{
      flex-direction: column;
      .illu_S2{
        display: none;
      }
      .pav_docL{
        display: flex;
        width: 90%;
        padding-left: 1%;
        padding-right: 1%;
        font-family: "Kanit", sans-serif;
        flex-direction: column;
        gap: 30px;
      }

    }
    .top{
      flex-direction: column;
      .illu_S2{
        display: none;
      }
      .pav_doc{
        display: flex;
        width: 90%;
        padding-left: 1%;
        padding-right: 1%;
        font-family: "Kanit", sans-serif;
        flex-direction: column;
        gap: 30px;
      }
    }
  }
  #ChavilleAction {
    padding-bottom: 10%;
    height: 165vh;
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    #display{
      height: 140vh;
      #images{
        flex-direction: column;
        .cardgang{
          width: 90%;
          height: 30%;
        }
      }
    }
  }
  #JouerAussi{
    height: 150vh;
    .bas{
      img{
        display: none;
      }
      div{
        width: 90%;

      }
    }
  }
  footer{
    height: 150vh;
    #footerhaut{
      flex-direction: column;
      height: 120vh;
      margin-bottom: 20px;
      #footergauche{
        flex-direction: column;

      }
      #footerdroite{
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 458px) {
  .Section2 {
    height: 280vh;
  }

}

//page game

#headerGame{
  height: 60vh;
  background-color: #EFEFEF;

  @media only screen and (max-width: 1050px) {
    height: 60%;
  }

  .header{
    height: 110px;

    @media only screen and (max-width: 768px) {
      height: 35%;
    }
  }


}

#Scannez{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Poppins;

  @media only screen and (max-width: 1050px) {
    height: 70vh;
  }
  div{
    height: 15%;
    display: flex;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: larger;
    margin-bottom: 20px;

    @media only screen and (max-width: 940px) {
     flex-direction: column;
    }

    @media only screen and (max-width: 620px) {
      margin-bottom: 40px;
    }
    button{
      width: 250px;
      height: 45px;
      background-color: var(--dark-color);
      border: none;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      color: var(--gold);
      font-family: "Kanit", sans-serif;
      font-size: 1.2rem;

      @media only screen and (max-width: 1050px) {
        height: 35px;
        width: 170px;
      }

      background: {
        image: linear-gradient(45deg,var(--gold) 50%, transparent 50%);
        position: 90%;
        size: 400%;
      }
      transition: background  300ms ease-in-out , color 300ms;


      &:hover {
        color: #1B1B1B;
        background-position: 0;
      }
    }
    p{
      text-align: center;
    }
  }
  img{
    width: 50%;

    @media only screen and (max-width: 900px) {
      width: 70%;
    }
  }
}

#cartes{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: Poppins;

  @media only screen and (max-width: 1050px) {
    height: 200vh;
  }

  @media only screen and (max-width: 700px) {
    height: 300vh;
  }
  div{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    span{
      font-size: larger;
    }
  }
}





