* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --dark-color : #1B1B1B;
  --gold : #D7C378;
  --light-color : #E0E0E0;
}



#ChavilleAction{
  height: 100vh;
  background-color: var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  #display{
    width: 70%;
    height: 100%;
    #texte{
      height: 40%;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2{
        color: var(--gold);
        font-family: "Poppins Medium";
        font-weight: lighter;
        font-size: xx-large;
        margin-bottom: 25px;
      }
      p{
        color: var(--light-color);
        font-family: 'Kanit', sans-serif;
        font-weight: lighter;
        font-size: large;
      }
    }
    #images{
      height: 60%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      div{
        width: 75%;
        height: 100%;
        display: flex;
        align-items: end;
        position: relative;
        img{
          width: 30%;
          height: 80%;
        }
        #image2{
          position: absolute;
          top: 50px;
          left: 25%;
        }
        #image3{
          position: absolute;
          top: 10px;
          left: 50%;
        }
      }
    }
  }
}
#JouerAussi{
  height: 100vh;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  #jouer{
    img{
      margin-left: 100px;
    }
  }
  #carte{
    justify-content: end;
    div{
      align-items: end;
    }
    img{
      margin-right: 100px;
    }
  }
  .bas{
    height: 50%;
    width: 70%;
    display: flex;
    align-items: center;
    div{
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      h3{
        font-size: xx-large;
        font-family: "Poppins Medium";
        font-weight: lighter;
      }
      p{
        font-size: large;
        font-family: "Kanit", sans-serif;
      }
      button{
        width: 250px;
        height: 45px;
        border: none;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        color: var(--gold);
        background-color: var(--dark-color);
        font-family: "Kanit", sans-serif;
        font-size: large;
      }
    }
    img{
      height: 150px;
    }
  }
}